<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoveButton.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C81C1DEB1CF6D317007D1B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81C1E041CF6D317007D1B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81C1E0F1CF6D318007D1B97</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
